body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  font-family: Arial;
  text-align: center;
}

h2 {
  margin-top: 20px;
}

#visualizer {
  width: 100%;
  height: 60vh;
  display: block;
  margin-top: 20px;
  background: #111;
}
